<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/shm.css" rel="stylesheet">
    <link href="css/theme.blue.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery.metadata.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" id="js">$(document).ready(function() {
        // call the tablesorter plugin
        $("#table").tablesorter();
    }); </script>
</head>
<body>
<div class="container">
    <%= yield %>
</div>
</body>
</html>