<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/shm.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <%= yield %>
</div>
</body>
</html>