<html>
<body>
<h1></h1>
<form action="login" method="post">
    <label>
        <select name="kari">
            <% karis.each_with_index do |kari, index| %>
                <option value="<%=index%>"><%=kari[:name]%></option>
            <% end %>

        </select>
    </label>
    <input type="submit">
</form>
</body>
</html>